FONTS*/
@font-face {
    font-family: 'Calibri';
    src: url('../fonts/Calibri.woff2') format('woff2'),
        url('../fonts/Calibri.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Berlin Sans FB Demi';
    src: url('../fonts/BerlinSansFBDemi-Bold.woff2') format('woff2'),
        url('../fonts/BerlinSansFBDemi-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

a{cursor:pointer;}
a:hover, a:focus, a:active{text-decoration: none;}
body{background-color: #fff;}
h1,h2,h3,h4,h5{font-family: 'Berlin Sans FB Demi';}
.button{text-align: center;padding: 5px 10px;color: #fff;line-height: 1;cursor: pointer; font-family: 'Berlin Sans FB Demi';}
.buttonLg{padding: 11px 27px; font-size: 24px;}
.buttonMd{padding: 9px 18px;font-size: 16px;letter-spacing: 1px;}
.buttonSm{padding: 8px 5px;font-size: 12px;letter-spacing: 1px;}
.buttonRadius{border-radius: 5px;}
.buttonCircled{border-radius: 17px; padding: 12px 26px; font-size: 12px; letter-spacing: 1px;box-shadow: none; border: none;
	font-family: 'Calibri';}
.button:hover{text-decoration: none;color: #fff;}
.button, .button:focus, .button:visited, .button:active{border: none;outline: none;box-shadow: none;}
/*COLORS*/
.paste{background-color: #50cfc8;}
.orange{background-color: #ebaf19;}
.white, .white:hover{background-color: #fff; color: #c6ae75;}
.row-eq-height {display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; }
/*CUSTOM */
.srinked .container{max-width: 900px;}
.bgTest{background-color: #d5d5d5;}
.borderTest{border: 1px solid #d5d5d5;}
.dropdown-toggle::after{
	/*display: inherit;*/
	content: '>';
	border: 0;
	margin: 0;
	transform: rotate(90deg);
	vertical-align: baseline;
	height: auto;
	width: auto;
	font-weight: 700;
	margin-left: 3px;
}
.topNav{background: url(../images/header_top_bg.png); color: #fff;padding: 8px 0;font-size: 13px;}
.topNav ul{margin: 0;}
.topNav ul li{}
.topNav ul li a, 
.topNav ul li a.list-inline-item, 
.topNav ul li a span{ color: #fff; cursor: pointer;}
.topNav ul li .dropdown-menu a, 
.topNav ul li .dropdown-menu a span{ color: #000; cursor: pointer;}
.topNav ul li a:hover{text-decoration: none;}
header{padding:15px 0 25px 0; }
.banner {
	background-image: url(../images/content.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: auto;
	color: #fff;
	padding: 94px 0 230px;
	margin-bottom: 50px;
	font-family: mulisemibold;
	/* font-family: nanumgothicbold; */
}

.banner .title {margin-bottom: 0px;font-size: 47px;text-transform: capitalize;}
.banner .subTitle {margin-bottom: 25px;font-size: 67px;}
.banner .buttonContainer{padding-left: 50px;padding-top: 22px;}
.banner .buttonContainer .button{font-size: 32px;}

.btn {padding: 9px 18px; border-radius: 8px; }
.btn-primary {margin-left: 35px; }
/*.....blog......*/
.blog {padding:  50px 0; }
.blog .item{text-align: center;background-repeat: no-repeat;background-size: cover;height: 180px;padding-top: 90px;border-radius: 4px;}
.blog .item img{max-width: 100%;}
.blog .item .content{margin-top: -15px;}
.blog .item.languages .content{margin-top: -30px;}

.blog2 {padding:  50px 0; }
.blog2 .item{text-align: center;/*padding: 0 52px;*/}
.blog2 .item img{max-width: 100%;}
.blog2 .item .title{max-width: 100%; margin-bottom: 25px;}
.blog2 .item .content {
    font-family: 'Calibri';
    font-weight: 500;
    color: #999;
    font-size: 18px;
}

.boxWrapper {padding:  50px 0; text-align: center; color: #fff;}
.boxWrapper .item{padding: 20px 10px 70px 13px;}
.boxWrapper .item .imgContainer{height: 100px;width: 100px;margin: 0 auto;padding-top: 20px;border: 1px dotted #fff; border-radius: 50%;}
.boxWrapper .item .imgContainer img{width: 60px; }
.boxWrapper .item .title{/*max-width: 170px*/;margin: 12px auto 25px auto;}
.boxWrapper .item .content {/* max-width: 100%; */font-family: 'Calibri';font-size: 18px;font-weight: 500;}
.boxWrapper .home{background-color: #4497ff; border-top-left-radius: 8px; border-bottom-left-radius: 8px;}
.boxWrapper .teacher{background-color: #51cec8;}
.boxWrapper .language{background-color: #efad1a; border-top-right-radius: 8px; border-bottom-right-radius: 8px;}

.signUp{
	background-image: url(../images/bg_all.jpg);
	background-position: top right;
	background-repeat: no-repeat;
	background-size: cover;
	height: auto;
	color: #fff;

}
.signUp .contentWrapper{padding: 122px 0 50px 0;}
.signUp .contentWrapper .title{font-size: 2rem; }
.signUp .contentWrapper .subTitle{max-width: 365px; margin-top: 23px; }
.signUp .contentWrapper .content{margin-top: 34px; font-size: 18px;font-family: 'Calibri'; }
.signUp .contentWrapper .getStarted{margin-top: 25px; }
.signUp .contentWrapper .contactUs{margin-top: 3px; }

.banner2{
	background-image: url(../images/books.png), url(../images/globe.png);
	background-position: left bottom, right bottom;
	background-repeat: no-repeat, no-repeat;
	text-align: center;
	color: #fff;
	padding: 72px 0;
}
.banner2 .title{font-size: 2.5rem; } 
.banner2 .content{font-size: 1.2rem;font-family: 'Calibri'; }

/*.item.languages:after {
	content: "";
	position: absolute;
	width: 30px;
	height: 30px;
	background: #999;
} 
*/
footer{padding: 30px 0 20px 0;}
footer .container{padding: 15px 0 0px 0;}
.BT{border-top: 1px solid #000;}
footer ul li a{color: #000; font-weight: 400;}

/*TABS*/
.nav-tabs{border:none;}
.nav-tabs .nav-link {
    color: #495057;
    border: 0px solid transparent;
    border-radius: 0;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link, 
.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
    background-color: transparent;
    background-image: url(../images/border.png);
    background-repeat: no-repeat;
  	background-size: 80% 2px;
  	background-position: bottom center;

	
}